@charset "UTF-8";

.poplythfeatured {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.poplythfeatured .popcards {
    position: fixed;
    background-color: #e9e9e9;
    width: 360px !important;
    color: #333;
    z-index: 20;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 10px;
}
.poplythfeatured .inter-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Card Title */
.poplythfeatured .inter-cards .name-product {

}

/* Content Card */
.poplythfeatured .inter-cards .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Content Card Info */
.poplythfeatured .inter-cards .content .content-info {

}
.poplythfeatured .inter-cards .content .content-info .price-info {

}
.poplythfeatured .inter-cards .content .content-info .price-info .price {

}
.poplythfeatured .inter-cards .content .content-info .price-info #product_price_display {

}
.poplythfeatured .inter-cards .content .content-info .price-info .price_reduction_block {

}
.poplythfeatured .inter-cards .content .content-info .price-info .price_reduction_block #old_price {
    
}
.poplythfeatured .inter-cards .content .content-info .price-info .price_reduction_block #reduction_percent {

}
.poplythfeatured .inter-cards .content .content-info .price-info .price_reduction_block #reduction_amount {

}
/* Content Card img */
.poplythfeatured .inter-cards .content #image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 270px;
    height: 270px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.poplythfeatured .inter-cards .content #image-block a {
    width: 250px;
    height: 250px;
}
.poplythfeatured .inter-cards .content #image-block a img {
    display: flex;
    width: 100%;
}

/* button card */
.poplythfeatured .inter-cards .pop-action {

}
.poplythfeatured .inter-cards .pop-action .btn-more {

}
.poplythfeatured .inter-cards .pop-action .btn-add-cart {

}


/* Mode Dev */
.poplythfeatured .inter-cards .content .text-content pre {
    overflow-y: scroll;
    max-height: 600px;
}
